# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=

# Pinata
PINATA_JWT=
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs

# Blockchain
RPC_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=
CHAIN_ID=11155111

# Frontend
VITE_API_URL=http://localhost:5000
VITE_CHAIN_ID=11155111